streamlit
python-dotenv
requests 
numpy 
matplotlib 
pandas 
speechrecognition 
pyttsx3 
langchain 
langchain-community 
langchain-openai 
langchain-groq 
groq 
qdrant-client
langchain-qdrant
streamlit_option_menu
py-espeak-ng
streamlit-mic-recorder
SpeechRecognition
gtts
pytz
twilio
APScheduler
openai
gTTS
pydub
requests
elevenlabs